.container {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  height: 95vh;
  justify-content: space-between;

  align-items: baseline;
  flex-wrap: wrap;
}

.box {
  text-align: center;
  width: 150px;
  height: 150px;
  border-radius: 15px;
}

#boxOne {
  background-color: red;
  font-size: 5px;

}

#boxTwo {
  background-color: blueviolet;
}

#boxThree {
  background-color: teal;
}

#boxFour {
  background-color: crimson;

}

/* .sectionOne{

}

.sectionTwo{

} */

/*header*/

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img{
  height: 32px;
  width: 32px;
}

nav{
  display: flex;
  align-items: center;
}

ul{
  list-style-type: none;
  display: flex;
  align-items: baseline;
}

li{
  display: flex;
  justify-content: space-between;

}